<template>
    <template if:true={product}>
        <div class="container">
            <div class="slds-text-heading_small" >{product.field.name.value}</div>
            <div class="price">{product.field.MSRP__c.displayValue}</div>
            
        </div>
    </template>
</template>