<template>
    <h1>All Opportunities</h1>
    <lightning-datatable data={opps.data} 
                         columns={columns}
                         key-field="Id">
    </lightning-datatable>

</template>