<template>
    <h4> Tree Grid Example</h4>
    <lightning-button label="Load Accounts" onclick={handleLoad}></lightning-button>
    <lightning-tree-grid data={treeItems} columns={columns} key-field="name" >
    </lightning-tree-grid>
    <h6>{recordId}</h6>
</template>